.root-991 {
  font-family: sans-serif;

  &[data-orientation='horizontal'] {
    display: flex;
    max-width: 40em;
    height: 50vh;
  }

  &[data-orientation='vertical'] {
    max-width: 20em;
  }
}

.item-991 {
  &[data-orientation='horizontal'] {
    display: flex;
    border-right: 1px solid var(--gray-1);
  }

  &[data-orientation='vertical'] {
    border-bottom: 1px solid var(--gray-1);
  }
}

.header-991 {
  margin: 0;

  &[data-orientation='horizontal'] {
    height: 100%;
  }
}

.trigger-991 {

  /* because it's a button, we want to stretch it */
  &[data-orientation='horizontal'] {
    height: 100%;
  }

  &[data-orientation='vertical'] {
    width: 100%;
  }

  text-align: inherit;
  box-sizing: border-box;
  appearance: none;
  border: none;
  padding: 10px;
  background-color: black;
  color: var(--gray-1);
  font-family: inherit;
  font-size: 1.2em;

  &:focus {
    outline: 2px solid var(--red-8);
    color: var(--red-9);
  }

  &[data-disabled] {
    color: var(--gray-9);
  }

  &[data-state='open'] {
    background-color: var(--red-9);
    color: var(--gray-1);

    &:focus {
      color: var(--gray-12);
    }
  }
}

.content-991 {
  padding: 10px;
  line-height: 1.5;
}

.animatedContent-991 {
  overflow: hidden;

  &[data-state='open'] {
    animation: accordion-slideDown 300ms ease-out;
  }

  &[data-state='closed'] {
    animation: accordion-slideUp 300ms ease-out;
  }
}

.animated2DContent-991 {
  overflow: hidden;

  &[data-state='open'] {
    animation: accordion-open2D 1000ms ease-out;
  }

  &[data-state='closed'] {
    animation: accordion-close2D 1000ms ease-out;
  }
}

.rootAttr-991,
.itemAttr-991,
.headerAttr-991,
.triggerAttr-991,
.contentAttr-991 {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;

  &[data-state='closed'] {
    border-color: var(--red-9);
  }

  &[data-state='open'] {
    border-color: var(--green-9);
  }

  &[data-disabled] {
    border-style: dashed;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.contentAttr-991 {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
}

@keyframes accordion-slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes accordion-open2D {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: var(--radix-accordion-content-width);
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-close2D {
  from {
    width: var(--radix-accordion-content-width);
    height: var(--radix-accordion-content-height);
  }

  to {
    width: 0;
    height: 0;
  }
}

.root-78f {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-9);
  color: var(--gray-1);
}


.form-516 {
  & [data-invalid] {
    color: var(--red-9);
    outline-color: currentColor;
  }
  & [data-valid] {
    color: var(--green-9);
    outline-color: currentColor;
  }
}


.root-597 {
  /* ensures it can receive vertical margins */
  display: inline-block;
  /* better default alignment */
  vertical-align: middle;
  /* mimics default `label` tag (as we render a `span`) */
  cursor: default;
  display: inline-block;
  border: 1px solid var(--gray-5);
  padding: 10px;
}

.control-597 {
  display: inline-flex;
  border: 1px solid var(--gray-5);
  padding: 10px;
  vertical-align: middle;
  margin: 0 10px;

  &:hover {
    background-color: var(--red-9);
  }
}


@keyframes presence-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes presence-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes presence-slideUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes presence-slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.mountAnimation-49a {
  animation: presence-fadeIn 3s ease-out;
}

.unmountAnimation-49a {
  &[data-state='closed'] {
    animation: presence-fadeOut 3s ease-in;
  }
}

.multipleMountAnimations-49a {
  animation:
    presence-fadeIn 6s cubic-bezier(0.22, 1, 0.36, 1),
    presence-slideUp 6s cubic-bezier(0.22, 1, 0.36, 1);
}

.openAndCloseAnimation-49a {
  &[data-state='open'] {
    animation: presence-fadeIn 3s ease-out;
  }
  &[data-state='closed'] {
    animation: presence-fadeOut 3s ease-in;
  }
}

.multipleOpenAndCloseAnimations-49a {
  &[data-state='open'] {
    animation:
      presence-fadeIn 3s cubic-bezier(0.22, 1, 0.36, 1),
      presence-slideUp 1s cubic-bezier(0.22, 1, 0.36, 1);
  }
  &[data-state='closed'] {
    animation:
      presence-fadeOut 3s cubic-bezier(0.22, 1, 0.36, 1),
      presence-slideDown 1s cubic-bezier(0.22, 1, 0.36, 1);
  }
}


.root-e07 {
  width: 400px;
  height: 20px;
  max-width: 100%;
  border: 5px solid var(--gray-12);
  background-color: var(--gray-3);
}

.indicator-e07,
.chromaticIndicatorClass-e07 {
  width: 0;
  height: 100%;
  background-color: var(--red-9);
  transition: background 150ms ease-out;
  &[data-state='indeterminate'] {
    background-color: var(--gray-8);
  }
  &[data-state='complete'] {
    background-color: var(--green-9);
  }
  &::before {
    content: attr(data-value);
  }
  &::after {
    content: attr(data-max);
  }
}

.rootAttr-e07,
.indicatorAttr-e07 {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;

  &[data-state='loading'] {
    border-color: var(--red-9);
  }
  &[data-state='indeterminate'] {
    border-color: var(--purple-9);
  }
  &[data-state='complete'] {
    border-color: var(--green-9);
  }
}

.indicatorAttr-e07 {
  &::before {
    content: attr(data-value);
  }
  &::after {
    content: attr(data-max);
  }
}
