.root-991 {
  font-family: sans-serif;

  &[data-orientation='horizontal'] {
    display: flex;
    max-width: 40em;
    height: 50vh;
  }

  &[data-orientation='vertical'] {
    max-width: 20em;
  }
}

.item-991 {
  &[data-orientation='horizontal'] {
    display: flex;
    border-right: 1px solid var(--gray-1);
  }

  &[data-orientation='vertical'] {
    border-bottom: 1px solid var(--gray-1);
  }
}

.header-991 {
  margin: 0;

  &[data-orientation='horizontal'] {
    height: 100%;
  }
}

.trigger-991 {

  /* because it's a button, we want to stretch it */
  &[data-orientation='horizontal'] {
    height: 100%;
  }

  &[data-orientation='vertical'] {
    width: 100%;
  }

  text-align: inherit;
  box-sizing: border-box;
  appearance: none;
  border: none;
  padding: 10px;
  background-color: black;
  color: var(--gray-1);
  font-family: inherit;
  font-size: 1.2em;

  &:focus {
    outline: 2px solid var(--red-8);
    color: var(--red-9);
  }

  &[data-disabled] {
    color: var(--gray-9);
  }

  &[data-state='open'] {
    background-color: var(--red-9);
    color: var(--gray-1);

    &:focus {
      color: var(--gray-12);
    }
  }
}

.content-991 {
  padding: 10px;
  line-height: 1.5;
}

.animatedContent-991 {
  overflow: hidden;

  &[data-state='open'] {
    animation: accordion-slideDown 300ms ease-out;
  }

  &[data-state='closed'] {
    animation: accordion-slideUp 300ms ease-out;
  }
}

.animated2DContent-991 {
  overflow: hidden;

  &[data-state='open'] {
    animation: accordion-open2D 1000ms ease-out;
  }

  &[data-state='closed'] {
    animation: accordion-close2D 1000ms ease-out;
  }
}

.rootAttr-991,
.itemAttr-991,
.headerAttr-991,
.triggerAttr-991,
.contentAttr-991 {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;

  &[data-state='closed'] {
    border-color: var(--red-9);
  }

  &[data-state='open'] {
    border-color: var(--green-9);
  }

  &[data-disabled] {
    border-style: dashed;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.contentAttr-991 {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
}

@keyframes accordion-slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes accordion-open2D {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: var(--radix-accordion-content-width);
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-close2D {
  from {
    width: var(--radix-accordion-content-width);
    height: var(--radix-accordion-content-height);
  }

  to {
    width: 0;
    height: 0;
  }
}

.root-78f {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-9);
  color: var(--gray-1);
}


.root-a9a {
  max-width: 20em;
  font-family: sans-serif;
}

.trigger-a9a {
  /* because it's a button, we want to stretch it */
  width: 100%;
  /* and remove center text alignment in favour of inheriting */
  text-align: inherit;
  /* ---- */
  appearance: none;
  border: none;
  padding: 10px;
  background-color: var(--color-black);
  color: white;
  font-family: inherit;
  font-size: 1.2em;
  --shadow-color: crimson;

  &:focus {
    outline: none;
    box-shadow: inset 0 -5px 0 0 var(--shadow-color);
    color: var(--color-red);
  }

  &[data-disabled] {
    color: var(--color-gray300);
  }

  &[data-state='open'] {
    background-color: var(--color-red);
    color: var(--color-white);

    &:focus {
      --shadow-color: #111;
      color: var(--color-black);
    }
  }
}

.content-a9a {
  padding: 10px;
  line-height: 1.5;
}

@keyframes collapsible-slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-openRight {
  from {
    width: 0;
  }
  to {
    width: var(--radix-collapsible-content-width);
  }
}

@keyframes collapsible-closeRight {
  from {
    width: var(--radix-collapsible-content-width);
  }
  to {
    width: 0;
  }
}

.animatedContent-a9a {
  overflow: hidden;
  &[data-state='open'] {
    animation: collapsible-slideDown 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: collapsible-slideUp 300ms ease-in;
  }
}

.animatedWidthContent-a9a {
  overflow: hidden;
  &[data-state='open'] {
    animation: collapsible-openRight 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: collapsible-closeRight 300ms ease-in;
  }
}

.rootAttr-a9a,
.triggerAttr-a9a,
.contentAttr-a9a {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
  background-color: rgb(0 0 255 / 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
  &[data-disabled] {
    border-style: dashed;
  }
  &:disabled {
    opacity: 0.5;
  }
}


.form-516 {
  & [data-invalid] {
    color: var(--red-9);
    outline-color: currentColor;
  }
  & [data-valid] {
    color: var(--green-9);
    outline-color: currentColor;
  }
}


.root-597 {
  /* ensures it can receive vertical margins */
  display: inline-block;
  /* better default alignment */
  vertical-align: middle;
  /* mimics default `label` tag (as we render a `span`) */
  cursor: default;
  display: inline-block;
  border: 1px solid var(--gray-5);
  padding: 10px;
}

.control-597 {
  display: inline-flex;
  border: 1px solid var(--gray-5);
  padding: 10px;
  vertical-align: middle;
  margin: 0 10px;

  &:hover {
    background-color: var(--red-9);
  }
}


@keyframes presence-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes presence-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes presence-slideUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes presence-slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.mountAnimation-49a {
  animation: presence-fadeIn 3s ease-out;
}

.unmountAnimation-49a {
  &[data-state='closed'] {
    animation: presence-fadeOut 3s ease-in;
  }
}

.multipleMountAnimations-49a {
  animation:
    presence-fadeIn 6s cubic-bezier(0.22, 1, 0.36, 1),
    presence-slideUp 6s cubic-bezier(0.22, 1, 0.36, 1);
}

.openAndCloseAnimation-49a {
  &[data-state='open'] {
    animation: presence-fadeIn 3s ease-out;
  }
  &[data-state='closed'] {
    animation: presence-fadeOut 3s ease-in;
  }
}

.multipleOpenAndCloseAnimations-49a {
  &[data-state='open'] {
    animation:
      presence-fadeIn 3s cubic-bezier(0.22, 1, 0.36, 1),
      presence-slideUp 1s cubic-bezier(0.22, 1, 0.36, 1);
  }
  &[data-state='closed'] {
    animation:
      presence-fadeOut 3s cubic-bezier(0.22, 1, 0.36, 1),
      presence-slideDown 1s cubic-bezier(0.22, 1, 0.36, 1);
  }
}


.root-e07 {
  width: 400px;
  height: 20px;
  max-width: 100%;
  border: 5px solid var(--gray-12);
  background-color: var(--gray-3);
}

.indicator-e07,
.chromaticIndicatorClass-e07 {
  width: 0;
  height: 100%;
  background-color: var(--red-9);
  transition: background 150ms ease-out;
  &[data-state='indeterminate'] {
    background-color: var(--gray-8);
  }
  &[data-state='complete'] {
    background-color: var(--green-9);
  }
  &::before {
    content: attr(data-value);
  }
  &::after {
    content: attr(data-max);
  }
}

.rootAttr-e07,
.indicatorAttr-e07 {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;

  &[data-state='loading'] {
    border-color: var(--red-9);
  }
  &[data-state='indeterminate'] {
    border-color: var(--purple-9);
  }
  &[data-state='complete'] {
    border-color: var(--green-9);
  }
}

.indicatorAttr-e07 {
  &::before {
    content: attr(data-value);
  }
  &::after {
    content: attr(data-max);
  }
}


.root-6c7,
:root {
  --scroll-area-scrollbar-size: 8px;
}

.scrollArea-6c7 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.scrollAreaViewport-6c7 {
  width: 100%;
  height: 100%;
}

.scrollbar-6c7 {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  transition: background 160ms ease-out;
  padding: 2px;
  background: rgba(0, 0, 0, 0.3);
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  &[data-orientation='vertical'] {
    width: var(--scroll-area-scrollbar-size);
  }
  &[data-orientation='horizontal'] {
    flex-direction: column;
    height: var(--scroll-area-scrollbar-size);
  }
}

.thumb-6c7 {
  flex: 1;
  /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
  }
  background: black;
  border-radius: var(--scroll-area-scrollbar-size);
}

.corner-6c7 {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: var(--scroll-area-scrollbar-size);
    height: var(--scroll-area-scrollbar-size);
    border-radius: var(--scroll-area-scrollbar-size);
  }
}

.animatedThumb-6c7 {
  &[data-state='visible'] {
    animation: scrollArea-fadeIn 300ms ease;
  }
  &[data-state='hidden'] {
    animation: scrollArea-fadeOut 300ms ease;
  }
}

@keyframes scrollArea-fadeIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scrollArea-fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.2);
    opacity: 0;
  }
}


.root-82b {
  border: none;
  background-color: var(--color-red);

  &[data-orientation='horizontal'] {
    height: 1px;
    width: 100%;
    margin: 20px 0;
  }

  &[data-orientation='vertical'] {
    height: 100px;
    width: 1px;
    margin: 0 20px;
  }
}


.root-dff {
  /* ensures things are layed out correctly by default */
  display: flex;
  &[data-orientation='horizontal'] {
    flexdirection: column;
  }
  /* ---------- */
  border: 1px solid #eee;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  max-width: 20rem;
}

.list-dff {
  flex-shrink: 0;
  /* ensures things are layed out correctly by default */
  display: flex;
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
  /* ---------- */
  background-color: #eee;
}

.trigger-dff {
  all: unset;
  flex-shrink: 0;
  /* ---------- */
  padding: 0.4em 0.6em;
  font-weight: 500;
  line-height: 1;
  user-select: none;

  &[data-orientation='horizontal'] {
    border-top: 4px solid transparent;
    border-bottom: 4px solid var(--border-color, transparent);
  }

  &[data-orientation='vertical'] {
    padding: 0.6em;
    border-right: 4px solid var(--border-color, transparent);
  }

  &[data-disabled] {
    color: var(--color-gray300);
  }

  &[data-state='active'] {
    --border-color: crimson;
  }

  &:focus {
    --border-color: #111;
    outline: 1px solid var(--border-color);
    &[data-state='active'] {
      --border-color: crimson;
    }
  }
}

.content-dff {
  flex-grow: 1;
  /* ---------- */
  padding: 1em;
  font-weight: 300;
  font-size: 0.85em;
  line-height: 1.65;
  &[data-orientation='horizontal'] {
    border-top: none;
  }
  &[data-orientation='vertical'] {
    border-left: none;
  }
}

@keyframes tabs-show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animatedContent-dff {
  &[data-state='active'] {
    animation: tabs-show 400ms ease;
  }
}

.contentAttr-dff {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
}

.rootAttr-dff,
.contentAttr-dff,
.listAttr-dff,
.triggerAttr-dff {
  background-color: rgb(0 0 255 / 0.3);
  border: 2px solid blue;
  padding: 10px;
  &:disabled {
    opacity: 0.5;
  }
  &[data-disabled] {
    border-style: dashed;
  }

  &[data-state='inactive'] {
    border-color: red;
  }
  &[data-state='active'] {
    border-color: green;
  }
}


.root-6d0 {
  padding: 6px;
  line-height: 1;
  border: none;
  font-family: sans-serif;
  font-weight: bold;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-black);
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-state='off'] {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  &[data-state='on'] {
    background-color: var(--color-green);
    color: var(--color-white);
  }
}

.rootAttr-6d0 {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10px;

  &:disabled {
    opacity: 0.5;
  }
  &[data-disabled] {
    border-style: dashed;
  }
}
